{% extends "base.html" %}

{% block links %}
{% endblock %}

{% block content %}
<div class='top'>
    <div class='wrapper'>
        <div class='top-content'>
            <h1>Socketio Game</h1>
        </div>
    </div>
</div>
<div class='middle'>
    <div class='wrapper'>
        <div class='middle-content' id='middle-default'>
            <div class='button' id='button1'>
                <span>Open</span>
            </div>
            <div class='button' id='button2'>
                <span>2v2</span>
            </div>
            <div class='button' id='button3'>
                <span>Change Username</span>
            </div>
            <div class='button' id='button4'>
                <span>Change Picture</span>
            </div>
        </div>
        <div class='middle-content' id='middle-username'>
            <h2>Current: <span></span></h2>
            <input class='input' id='username-input'>
        </div>
        <div class='middle-content' id='middle-picture'>
        </div>
    </div>
</div>
<div class='bottom'>
    <div class='wrapper'>
        <div class='bottom-content'>
            <h3>Made by Jacob Gluszek</h3>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src='{{ url_for("static", filename="js/index.js") }}'></script>
{% endblock %}